<div>
  <p>
    I am the main content of this section called Text-Center.
  </p>
</div>

{% schema %}
  {
    "name": "Center Text",
    "settings": [
      {
        "type": "text",
        "label": "Custom Text",
        "id": "text_input",
        "default": "Put your text here."
      }
    ]
  }
{% endschema %}