<a>This is the list of all products:</a>
<ul>
  {% for coll in collections %}
    <li>
      Elements of {{ coll.handle }}:
      <ol>
        {% for prod in coll.products %}
          <li>{{ prod.title }}</li>
        {% endfor %}
      </ol>
    </li>
  {% endfor %}
</ul>
