<a>This is the list of all the Collections:</a>
<ul>
  {% for coll in collections %}
    <li>
      Elements of {{ coll.title }}:
      <ol>
        {% for prod in coll.products %}
          <li> {% echo prod.title %} price: {{ prod.price | money }}</li>
        {% endfor %}
      </ol>
    </li>
  {% endfor %}
</ul>

