<div>
  <img src={{ product | image_url: width: 100 }}> </img>
{% if product.title == all_products["product-1"].title %}
  <p>This is the most <b>important</b> product</p>
  <p>The name of this product it {{ all_products["product-1"].title }}</p>
{% else %}
  <p>We suggest looking at this product instead:</p>
  <a href={{ all_products["product-1"].url }}><b>Awesome Product</b></a>
{% endif %}

  {% case product.title %}
    {% when all_products["product-1"].title %}
      {% if product.price >= 1000 %}
        <p>The price is very good</p>
      {% endif %}
  {% endcase %}
  
</div>
<div>
  {{ product.title | upcase | remove: ' # 1'}}
</div>